.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

h2,
p {
  text-align: center;
  margin-bottom: 15px;
}

.difficulty-container {
  display: flex;
  justify-content: center;

  .difficulty {
    margin-left: 5px;
    height: 20px;
    width: auto;
  }
}
