<nav
  class="navbar navbar-expand-lg bg-body-tertiary nav-bg"
  data-bs-theme="dark"
>
  <div class="container-fluid">

    <a class="navbar-brand" routerLink=""> <img src="./../assets/logo_cibando.png" class="logo" /> Cibando </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="home"><span class="material-symbols-outlined">home</span> Home</a>
        <a class="nav-link" routerLink="ricette"><span class="material-symbols-outlined">fork_spoon</span>Ricette</a>
        <a class="nav-link"><span class="material-symbols-outlined">mail</span> Contatti</a>
        <a class="nav-link" routerLink="registrazione"><span class="material-symbols-outlined">account_circle</span> Registazione</a>
      </div>
    </div>

  </div>
</nav>
