<div class="contenitore">
  <h2>Inserisci la tua ricetta</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="card" style="border-radius: 15px;">
          <div class="card-body">

            <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Nome piatto</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="text" class="form-control form-control-lg"  formControlName="name"/>
                <p class="help isDanger" *ngIf="!form.get('name').valid && form.get('name').touched">Il campo nome piatto è obbligatorio.</p>
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Tipo di piatto</h6>

              </div>
              <div class="col-md-9 pe-5">

                 <select class="select form-control-lg" formControlName="type">
                    <option value="default" disabled>Scegli una opzione</option>
                    <option value="primo">Primo</option>
                    <option value="carne">Carne</option>
                    <option value="pesce">Pesce</option>
                    <option value="dolce">Dolce</option>
                  </select>
<p class="help isDanger" *ngIf="!form.get('type').valid && form.get('type').touched">Il campo tipo di piatto è obbligatorio.</p>
              </div>
            </div>

            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Descrizione</h6>

              </div>
              <div class="col-md-9 pe-5">

                <textarea class="form-control" rows="3" placeholder="Scrivi una breve descrizione per la ricetta" formControlName="description"></textarea>
 <p class="help isDanger" *ngIf="!form.get('description').valid && form.get('description').touched">Il campo descrizione è obbligatorio.</p>
              </div>
            </div>


<hr class="mx-n3">

       <div class="row align-items-center pt-4 pb-3">
              <div class="col-md-3 ps-5">
                <h6 class="mb-0">Difficoltà</h6>
              </div>
              <div class="col-md-9 pe-5">
                <input type="number" class="form-control form-control-lg"  formControlName="difficulty"/>
                <p class="help isDanger" *ngIf="form.controls.difficulty.hasError('required') && form.controls.difficulty.touched">Il campo difficoltà è obbligatorio.</p>
                <p class="help isDanger" *ngIf="form.controls['difficulty'].hasError('max') && form.controls.difficulty.touched">La difficoltà massima è 5.</p>
                <p class="help isDanger" *ngIf="form.controls['difficulty'].hasError('min') && form.controls.difficulty.touched">La difficoltà minima è 0.</p>
              </div>
            </div>


            <hr class="mx-n3">

            <div class="row align-items-center py-3">
              <div class="col-md-3 ps-5">

                <h6 class="mb-0">Carica una immagine</h6>

              </div>
              <div class="col-md-9 pe-5">

                <input class="form-control form-control-lg" id="formFileLg" type="file" formControlName="image" />
                <div class="small text-muted mt-2">Carica la foto del tuo piatto</div>

              </div>
            </div>

            <hr class="mx-n3">

            <div class="px-5 py-4">
              <p *ngIf="form.valid">Il form è correttamente compilato</p>
              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg" [disabled]="form.invalid">Salva ricetta</button>
            </div>

          </div>
        </div>

        </form>

</div>
