<app-carousel></app-carousel>
<div class="contenitore">
  <h2>Benvenuti su Cibando</h2>
  <p class="paragrafo">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste doloribus at
    cumque nostrum vero vel quo, dignissimos quos ullam rem nihil, molestias
    aperiam veniam, laudantium labore perspiciatis iure? Asperiores adipisci
    tempora iste nam consequuntur soluta deleniti repellat accusantium
    repudiandae fugit, dolore quidem earum optio. Laboriosam placeat ipsa ipsam
    quasi veritatis corrupti sequi excepturi? Quidem excepturi rem commodi
    praesentium, cupiditate molestias odit pariatur ad iure saepe culpa impedit
    aperiam, natus quaerat quam ullam, laborum perspiciatis sapiente? Unde
    facilis iure nostrum. Reiciendis culpa repellendus eveniet quam adipisci
    dolores facere, dolore officiis, tempora dolor eos, harum vel animi nobis
    recusandae hic excepturi est reprehenderit eligendi. Voluptatem accusamus,
    unde quaerat atque eum est velit non quo reprehenderit eligendi nobis totam,
    voluptates repellendus sit enim excepturi architecto cupiditate. Adipisci
    hic praesentium nam officiis enim natus quis, illum dolorum, magnam expedita
    molestias earum sapiente error sint culpa aut exercitationem? Quia, non ut.
    Accusantium, at vitae? Quisquam sunt molestias earum. Corporis, eligendi
    laudantium, incidunt odio aut facere nihil odit quidem molestias et sequi
    excepturi. Suscipit vitae qui, nesciunt dolorum sit veritatis accusantium
    deserunt temporibus facilis amet quo molestias soluta asperiores quod
    aspernatur itaque exercitationem. Quisquam nesciunt omnis sint? Veniam
    labore consectetur, cumque nisi esse delectus quae, vero aliquid autem ad
    expedita distinctio, blanditiis neque eligendi illum voluptate aliquam
    nostrum rerum? Dolorum consequuntur quia suscipit, consequatur alias omnis
    minus est, delectus beatae ea amet, at nisi! Accusamus tenetur autem
    consequatur voluptatem vitae temporibus officiis, adipisci quaerat,
    similique laudantium tempore vero, impedit sunt corrupti porro nemo! Officia
    beatae illum nobis, aut inventore, eius quibusdam, possimus excepturi ipsa
    maxime sint soluta ipsum itaque quis dignissimos natus aliquam blanditiis.
    Soluta dolorum, saepe facere nemo accusamus nam quia explicabo dolorem
    laborum exercitationem! Numquam labore, optio qui consectetur, rem quia sed
    aut magnam nesciunt, at illo dolor quis enim ad accusantium explicabo natus?
  </p>
</div>

<div class="contenitore">
  <h4>Le ultime ricette</h4>
  <div class="card-container">
    <app-recipe-card *ngFor="let ricetta of ricette"
      [recipe]="ricetta"></app-recipe-card>
  </div>
</div>
