//primary colors
$primary-color-1: #8e210b;
$primary-color-2: #3e0d03;

//secondary colors
$secondary-color-1: black;
$secondary-color-2: grey;
$secondary-color-3: lightgrey;
$secondary-color-4: white;
