@import "../../../styles/colori.scss";

  .card{
    height: 100%;
    padding: 10px;
  }

   .card-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-title {
    font-weight: bold;
    font-size: 16px;
    color: $primary-color-1;
  }

  .card-image {
    height: 150px;
    width: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: center;
    padding-top: 16px;
  }

  .card-text {
    text-align: justify;
    height: 75px;
  }

  .btn-color-custom{
    background-color: $primary-color-1;
    color: $secondary-color-4;
    font-weight: bold;
  }

