
<!-- TEMPLATE DRIVEN FORM -->
<!-- <div class="contenitore">
  <div class="card mb-3">
    <div class="row">
      <div class="image-container">
        <img
          src="../../../../assets/images/food.jpg"
          class="img-fluid rounded"
          alt="Alimenti"
        />
      </div>

      <div class="form-container">
        <div class="card-body">
          <h2 class="card-title">Registrati su Cibando</h2>
          <form #form="ngForm" (ngSubmit)="onSubmit(form.value)">

            <div class="form-field">
              <label for="nameField" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nameField" name="nome" ngModel required #nome="ngModel"/>
              <div *ngIf="nome.hasError('required') && nome.touched" class="invalid">- Il campo nome è obbligatorio</div>
            </div>

            <div class="form-field">
              <label for="surnameField" class="form-label">Cognome</label>
              <input type="text" class="form-control" id="surnameField" name="cognome" ngModel required #cognome="ngModel"/>
              <div *ngIf="cognome.hasError('required') && cognome.touched" class="invalid">- Il campo cognome è obbligatorio</div>
            </div>

            <div class="form-field">
              <label for="emailField" class="form-label">Email</label>
              <input type="email" class="form-control" id="emailField" placeholder="name@example.com" name="email" ngModel email required #email="ngModel"/>
              <div *ngIf="email.hasError('email') && email.touched" class="invalid">- L'email inserita non è valida</div>
              <div *ngIf="email.hasError('required') && email.touched" class="invalid"> - Il campo email è obbligatorio</div>
            </div>

            <div class="form-field">
              <label for="passwordField" class="form-label">Password</label>
              <input type="password" class="form-control" id="passwordField" name="password" ngModel required #password="ngModel"/>
              <div class="valid-feedback">Looks good!</div>
              <div *ngIf="password.hasError('required') && password.touched" class="invalid"> - Il campo password è obbligatorio</div>
              <div *ngIf="password.hasError('pattern') && password.touched" class="invalid" style="font-size: 10px;">
                <ul>
                  <li>La password deve avere min 8 caratteri.</li>
                  <li>La password deve avere max 16 caratteri.</li>
                  <li>La password deve contenere almeno una lettera minuscola.</li>
                  <li>La password deve contenere almeno una lettera maiuscola.</li>
                  <li>La password deve contenere almeno un simbolo.</li>
                  <li>La password non deve contenere spazi</li>
                </ul>
              </div>
            </div>

            <div class="form-field">
              <label for="validationCustom01" class="form-label">Conferma password</label>
              <input type="password" class="form-control" id="validationCustom01" name="confirmPassword" ngModel required #confirmPassword="ngModel"/>
              <div *ngIf="confirmPassword.hasError('required') && confirmPassword.touched" class="invalid"> - Il campo conferma password è obbligatorio</div>
            </div>

            <div class="form-field">
              <input class="form-check-input" type="checkbox" value="" id="checkDefault" name="termsOfService" ngModel required/>
              <label class="form-check-label" for="checkDefault">Dichiaro di accettare i <a href="">Termini del Servizio</a></label>
            </div>

            <div>
              <button type="submit" class="btn submit-btn" [disabled]="form.invalid">Registrati</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div> -->


<!-- REACTIVE FORM -->

  <div class="contenitore">
  <div class="card mb-3">
    <div class="row">
      <div class="image-container">
        <img
          src="../../../../assets/images/food.jpg"
          class="img-fluid rounded"
          alt="Alimenti"
        />
      </div>

      <div class="form-container">
        <div class="card-body">
          <h2 class="card-title">Registrati su Cibando</h2>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-field">
              <label for="nameField" class="form-label">Nome</label>
              <input type="text" class="form-control" id="nameField" formControlName="name"/>
              <div *ngIf="form.get('name').getError('required') && form.get('name').touched" class="invalid">Il campo nome è obbligatorio</div>
            </div>

            <div class="form-field">
              <label for="surnameField" class="form-label">Cognome</label>
              <input type="text" class="form-control" id="surnameField"  formControlName="surname" />
              <div *ngIf="form.get('surname').getError('required') && form.get('surname').touched" class="invalid">Il campo cognome è obbligatorio</div>
            </div>

            <div class="form-field">
              <label for="emailField" class="form-label">Email</label>
              <input type="email" class="form-control" id="emailField" placeholder="name@example.com" formControlName="email" />
              <div *ngIf="form.get('email').getError('required') && form.get('email').touched" class="invalid">Il campo email è obbligatorio</div>
              <div *ngIf="form.get('email').getError('email') && form.get('email').touched" class="invalid">L'email inserita non è valida</div>
            </div>

            <div class="form-field">
              <label for="passwordField" class="form-label">Password</label>
              <!-- <input type="password" class="form-control" id="passwordField" formControlName="password"  /> -->
              <p-password inputId="passwordField" name="passwordField" [toggleMask]="true" autocomplete="off" strongRegex="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$" formControlName="password"/>
              <div class="valid-feedback">Looks good!</div>
              <div *ngIf="form.get('password').getError('required') && form.get('password').touched" class="invalid">Il campo password è obbligatorio</div>
              <div *ngIf="form.get('password').getError('pattern') && form.get('password').touched" class="invalid" style="font-size: 10px;">
                <ul>
                  <li>La password deve avere min 8 caratteri.</li>
                  <li>La password deve avere max 16 caratteri.</li>
                  <li>La password deve contenere almeno una lettera minuscola.</li>
                  <li>La password deve contenere almeno una lettera maiuscola.</li>
                  <li>La password deve contenere almeno un simbolo.</li>
                  <li>La password non deve contenere spazi</li>
                </ul>
              </div>
            </div>

            <div class="form-field">
              <label for="confirmPasswordField" class="form-label">Conferma password</label>
              <!-- <input type="password" class="form-control" id="confirmPasswordField" formControlName="confirmPassword"/> -->
              <p-password inputId="confirmPasswordField" name="confirmPasswordField" [toggleMask]="true" autocomplete="off" [feedback]="false" formControlName="confirmPassword"/>
              <div *ngIf="form.get('confirmPassword').getError('required') && form.get('confirmPassword').touched" class="invalid">Il campo conferma password è obbligatorio</div>
              <div *ngIf="form.getError('diversa') && form.get('confirmPassword').touched" class="invalid">Le password non corrispondono</div>
            </div>

            <div class="form-field">
              <input class="form-check-input" type="checkbox" id="checkDefault" formControlName="serviceTerms"/>
              <label class="form-check-label" for="checkDefault">Dichiaro di accettare i <a href="">Termini del Servizio</a></label>
              <div *ngIf="form.get('serviceTerms').getError('required') && form.get('serviceTerms').touched" class="invalid" style="font-size: 10px;">Per procedere con la registrazione è necessario accettare i Termini del Servizio</div>
            </div>

            <div>
              <button type="submit" class="btn submit-btn" [disabled]="form.invalid">Registrati</button>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>

