@import "~bootstrap/dist/css/bootstrap.css";
@import "~primeicons/primeicons.css";
@import "./styles/colori.scss";

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

nav {
  padding-left: 10px !important;
}

footer {
  background-color: $primary-color-1;
  color: $secondary-color-4;
}

h3 {
  font-family: "Homemade Apple", cursive;
  font-size: 40px;
  text-shadow: $secondary-color-1 2px 3px 3px;
}

.nav-bg {
  background-color: $primary-color-1 !important;
}

.contenitore {
  padding: 16px !important;
}

.logo {
  border-radius: 10px;
  width: 50px;
  margin-right: 10px;
}

.carousel-item {
  aspect-ratio: 16/9;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-password{
  display: block !important;
}

.p-inputtext, .p-password-input{
  width: 100%!important;
  height: 38px!important;

}
